<footer style="text-align:center">
    <div id="socials">
        <a href="#">
            <img class="social-img" src="images/f_logo_RGB-White_1024.png" height="50" width="50">
        </a>
        <a href="#">
            <img class="social-img" src="images/In-White-75px-TM.png" height="50" width="60">
        </a>
    </div>
    <div id="lowtext">
        <p class="footer-item">Copyright ©2022 CINEMAWARE. All Rights Reserved</p>
        <a class="footer-item" href="#">Privacy Policy</a>
        <a class="footer-item" href="#">Terms of Use</a>
    </div>
</footer> 
