<div class="container-fluid" style="text-align: center;">
  <h2>About Us</h2>
  <h4>Company Goal</h4>
  <p>
      CinemaWare is a collaboration between two different teams with two different ideas <br>
      mixed into one, the original ideas being a movie website and a hardware store mixed <br>
      together. The inspiration for our project and website would have to be other camera <br>
      companies such as Canon, Nikon and Kodak. We want to create a minimalist and <br>
      modern-looking ecommerce website. <br>
  </p>
</div>

<!-- motivations -->
<div class="container-fluid" style="text-align: center;">
  <h2>Individual Motivations</h2>
  <p><strong>Samuel:</strong> 
    This project has motivated me for some time because I have a big interest in film-making and the art of cinema.<br>
    With the freedom and creativity web programming has offered me, <br>
    I truly think I am able to deliver an ideal website for our movie equipment store service.  <br>
    While I am adequate in both front-end and back-end, the latter is definitely more up my alley. <br>
    I am excited to get busy with the database setup and model design.<br>
  </p>
    <p><strong>Payal:</strong> 
    I'm looking forward to making a website on film-making equipment because I am very interested in film-making and photography. <br>
    With this project, I would be able to use many of the skills learned in web programming to create a functional and creative website about something that I am really interested in.<br>
    I hope that this project would help me learn more about web development while also enjoying building a website about one of my interest.<br>
  </p>
  <p><strong>Gorav:</strong> 
    I am quite motivated for this project since I am very interested in solving difficulties in a database environment,<br>
    and it also allows me to apply my creativity as a programmer for the front-end. <br>
    However, despite my solid understanding of sql database and javascript,  I am still weak in practical back-end knowledge, but I am eager to learn more.<br>
    I'm also excited to put my current abilities to the test. Hopefully, I will be able to complete this project to the standards set by myself and my teammates.<br>
  </p>
  <p><strong>Rafael:</strong> 
     I wanted to work on the CinemaWare website because of my interest in film-making and general content creation.<br>
      As a second-year Computer Science student, I feel that the creative expression that web development offers is <br>
      a great way to continue feeling productive as a student, as well as expressing my creativity.<br>
    Another reason as to why I want to work on this project is that I think that e-commerce websites are a very easy<br>
     way to understand web development fundamentals such as HTTP methods, front-end and back-end operations and CRUD integration.<br>
  </p>

</div> 