<body>
    <h1>YOUR CART</h1>
    <div id="cart">
        {{#each products}}
        <div class="cartItem">
            <h5 class="cartItemName">{{this.name}}</h5>
            <p class="cartItemType">Type: {{this.type}}</p>
            <p class="cartitemPrice">CND${{this.price}}</p>
            <form action="/cart/remove" method="post" class="removeFromCart">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="name" value="{{this.name}}">
                <input type="submit" class="btn btn-primary" value="Remove Item from Cart">
            </form>
        </div>
        {{/each}}
        
    </div>
    <a href="/cart/buy" id="submitCart" class="btn btn-primary">Confirm Purchase</a>
</body>