<div class="hero-image">
  <div class="hero-text">
    <h1>CinemaWare</h1>
    <p>shop our newest cameras and more</p>
    <form action="/products" method="get">
      <input type="submit" class="btn btn-dark" id="shop-now" value="Shop Now">
    </form>
  </div>
</div>
<div class="row">
  <h2 id="featured-items">Featured Items</h2>
  <p></p>
  <div class="col-4">
    <div class="card" style="width:350px">
      <img class="card-img-top" src="https://www.w3schools.com/css/paris.jpg" alt="Card image">
      <div class="card-body">
      <h4 class="card-title">John Doe</h4>
      <p class="card-text">Some example text.</p>
      <a href="#" class="btn btn-dark">add to cart</a>
      </div>
      </div>
    </div>
  <div class="col-4">
    <div class="card" style="width:350px">
      <img class="card-img-top" src="https://www.w3schools.com/css/paris.jpg" alt="Card image">
      <div class="card-body">
      <h4 class="card-title">John Doe</h4>
      <p class="card-text">Some example text.</p>
      <a href="#" class="btn btn-dark">add to cart</a>
      </div>
    </div>  
  </div>
  <div class="col-4">
    <div class="card" style="width:350px">
      <img class="card-img-top" src="https://www.w3schools.com/css/paris.jpg" alt="Card image">
      <div class="card-body">
      <h4 class="card-title">John Doe</h4>
      <p class="card-text">Some example text.</p>
      <a href="#" class="btn btn-dark">add to cart</a>
      </div>
    </div>  
  </div>
</div> 

