<body>
    <h1>{{name}} {{deleteMessage}}</h1>
    <form action="/cart" method="post">
        <input type="submit" value="{{backToCart}}">
    </form>
    <a href="/products">{{shoppingMessage}}</a>
</body>