<body>
    <h1>{{name}} has been deleted from your cart!</h1>
    <form action="/cart" method="post">
        <input type="submit" value="Come Back To Cart">
    </form>
    <a href="/products">Continue Shopping</a>
</body>